<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/ques1-get">Question 1 - Form Retrieval by GET</a><br><br>
    <a href="/ques1-post">Question 1 - Form Retrieval by POST</a><br><br>
    <a href="/ques2">Question 2</a>
  </body>
</html>
